#navbar {
    background-color: #ffffff;
    justify-content: center;
    padding: 20px;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 50px;
  }
  
  .nav-link {
    margin-left: 20px;
  }
  
  .navbar-toggler {
    border: none;
  }
  

  .navbar {
    display: flex;
    justify-content: center;
  }
  .nav{
    background-color: #ffffff;
  }
