<div class="container">
    <h1>Catalogo</h1>
    <div class="row">
      <div class="col-md-3 product">
        <img src="./assets/1ropa.jpg" alt="Product 1">
        <div class="description">
          <p class="name">Producto 1</p>
          <p class="price">
            <span class="original">$20</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/2ropa.jpg" alt="Product 2">
        <div class="description">
          <p class="name">Producto 2</p>
          <p class="price">
            <span class="original">$30</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/5ropa.jpg" alt="Product 4">
        <div class="description">
          <p class="name">Producto 3</p>
          <p class="price">
            <span class="original">$25</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/4ropa.jpg" alt="Product 4">
        <div class="description">
          <p class="name">Producto 4</p>
          <p class="price">
            <span class="original">$25</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 product">
        <img src="./assets/5ropa.jpg" alt="Product 1">
        <div class="description">
          <p class="name">Producto 5</p>
          <p class="price">
            <span class="original">$20</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/6ropa.jpg" alt="Product 2">
        <div class="description">
          <p class="name">Producto 6</p>
          <p class="price">
            <span class="original">$30</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/7ropa.jpg" alt="Product 3">
        <div class="description">
          <p class="name">Producto 7</p>
          <p class="price">
            <span class="original">$50</span>
            <span class="discounted">$40</span>
          </p>
        </div>
      </div>
      <div class="col-md-3 product">
        <img src="./assets/8ropa.jpg" alt="Product 4">
        <div class="description">
          <p class="name">Producto 8</p>
          <p class="price">
            <span class="original">$25</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  